:root {
    --background-color: #eeeeee;
    --primary-color: #00b5ac;
    --secondary-color: #007e77;
    --text-color: rgb(37, 37, 37);
    --text-color-2: #00524e;
    --dark-text-color: rgb(99, 99, 99);
    --link-text-color: rgb(0, 119, 255);
}