<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warden</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #eeeeee;
            height: 100%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        }

        .navbar {
            background-color: white;
        }

        .container {
            margin-top: 40px;
        }

        th, td {
            padding: 12px 15px;
        }

        th {
            background-color: #009879;
            color: #ffffff;
            text-transform: uppercase;
        }

        tr {
            border-bottom: 1px solid #dddddd;
        }

        tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>

    {% include 'components/navbar.html' %}
    {% include 'components/hostel_application_modal.html' %}
    
    <div class="container">
        <h3>Warden Information</h3>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th></th>
            </tr>
            {% if entries %}
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.warden_id }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.phone_number }}</td>
                    <td>{{ entry.gender }}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#studentManageModal" data-index="{{ loop.index }}">
                            <i class="fas fa-cog"></i> Manage
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No entries available</td>
                </tr>
            {% endif %}
        </table>
    </div>

    <script>
        let selectedEntry = 0;
        document.addEventListener('DOMContentLoaded', function() {
            const modal = document.getElementById('studentManageModal');

            const entries = JSON.parse('{{ entries | tojson }}'); 
    
            modal.addEventListener('show.bs.modal', function(event) {
                const button = event.relatedTarget;
                const index = button.getAttribute('data-index');
                
                const entry = entries[index - 1];
                selectedEntry = entry;
                document.getElementById('studentName').innerText = entry["studentName"];
                document.getElementById('studentIc').innerText = entry["studentIc"];
                document.getElementById('formClass').innerText = entry["formClass"];
                document.getElementById('stream').innerText = entry["stream"];
                document.getElementById('race').innerText = entry["race"];
                document.getElementById('familyMembers').innerText = entry["familyMembers"];
                document.getElementById('familyStudying').innerText = entry["familyStudying"];
                document.getElementById('siblingsSPBT').innerText = entry["siblingsSPBT"];
                document.getElementById('siblingsHostel').innerText = entry["siblingsHostel"];
                document.getElementById('distance').innerText = entry["distance"];
                document.getElementById('studentStatus').innerText = entry["studentStatus"];
                document.getElementById('guardianStatus').innerText = entry["guardianStatus"];
                document.getElementById('healthStatus').innerText = entry["healthStatus"];
                document.getElementById('hostelReason').innerText = entry["hostelReason"];
                document.getElementById('fatherGuardianName').innerText = entry["fatherGuardianName"];
                document.getElementById('fatherGuardianIc').innerText = entry["fatherGuardianIc"];
                document.getElementById('fatherCitizenship').innerText = entry["fatherCitizenship"];
                document.getElementById('fatherGuardianAddress').innerText = entry["fatherGuardianAddress"];
                document.getElementById('fatherPhoneHome').innerText = entry["fatherPhoneHome"];
                document.getElementById('fatherPhoneMobile').innerText = entry["fatherPhoneMobile"];
                document.getElementById('fatherOccupation').innerText = entry["fatherOccupation"];
                document.getElementById('fatherIncome').innerText = entry["fatherIncome"];
                document.getElementById('fatherEmployerAddress').innerText = entry["fatherEmployerAddress"];
                document.getElementById('motherGuardianName').innerText = entry["motherGuardianName"];
                document.getElementById('motherGuardianIc').innerText = entry["motherGuardianIc"];
                document.getElementById('motherCitizenship').innerText = entry["motherCitizenship"];
                document.getElementById('motherGuardianAddress').innerText = entry["motherGuardianAddress"];
                document.getElementById('motherPhoneHome').innerText = entry["motherPhoneHome"];
                document.getElementById('motherPhoneMobile').innerText = entry["motherPhoneMobile"];
                document.getElementById('motherOccupation').innerText = entry["motherOccupation"];
                document.getElementById('motherIncome').innerText = entry["motherIncome"];
                document.getElementById('motherEmployerAddress').innerText = entry["motherEmployerAddress"];
                document.getElementById('UPSRResult').innerText = entry["upsrResults"];
                document.getElementById('PT3Result').innerText = entry["pmrResults"];
                document.getElementById('SPMTrialResult').innerText = entry["spmResults"];
                document.getElementById('scholarship').innerText = entry["scholarship"];
                document.getElementById('kwapm').innerText = entry["kwapm"];
                document.getElementById('uniformedUnit').innerText = entry["uniformedUnit"];
                document.getElementById('uniformedUnitPosition').innerText = entry["uniformedUnitPosition"];
                document.getElementById('uniformedUnitRepresenting').innerText = entry["uniformedUnitRepresenting"];
                document.getElementById('clubAssociation').innerText = entry["clubAssociation"];
                document.getElementById('clubPosition').innerText = entry["clubPosition"];
                document.getElementById('clubRepresenting').innerText = entry["clubRepresenting"];
                document.getElementById('sportsGames').innerText = entry["sportsGames"];
                document.getElementById('sportsPosition').innerText = entry["sportsPosition"];
                document.getElementById('sportsRepresenting').innerText = entry["sportsRepresenting"];
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
