<style>
    form .col-md-6 label:nth-child(2),
    form .col-md-12 label:nth-child(2) {
        display: block; /* Make the second label a block element */
        border: 1px solid black;
        padding: 5px;
        margin-top: 5px; /* Optional: Add some space above the second label */
    }

    .modal-header {
        background-color: #009879;
    }

    .section-title {
        font-weight: bold;
    }

</style>

<div class="modal modal-xl fade" id="confiscatedItemManageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-light">
                <h4>Confiscated Item</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" method="POST">
                    <div class="col-md-12">
                        <label for="studentName" class="form-label">Student Name</label>
                        <label id="studentName">-</label>
                    </div>

                    <div class="col-md-12">
                        <label for="itemName" class="form-label">Item Name</label>
                        <label id="itemName">-</label>
                    </div>
                    
                    <!-- Item Description -->
                    <div class="col-md-12">
                        <label for="itemDescription" class="form-label">Item Description</label>
                        <label id="itemDescription">-</label>
                    </div>
                    
                    <!-- Date of Confiscation -->
                    <div class="col-md-6">
                        <label for="confiscationDate" class="form-label">Date of Confiscation</label>
                        <label id="confiscationDate">-</label>
                    </div>
                    
                    <!-- Confiscated By -->
                    <div class="col-md-6">
                        <label for="confiscatedBy" class="form-label">Confiscated By (Teacher's Name)</label>
                        <label id="confiscatedBy">-</label>
                    </div>
                    
                    <!-- Item Status -->
                    <div class="col-md-6">
                        <label for="itemStatus" class="form-label">Item Status</label>
                        <label id="itemStatus">-</label>
                    </div>
                    
                    <!-- Reason for Confiscation -->
                    <div class="col-md-12">
                        <label for="confiscationReason" class="form-label">Reason for Confiscation</label>
                        <label id="confiscationReason">-</label>
                    </div>
                    
                    <!-- Item Return Date -->
                    <div class="col-md-6">
                        <label for="returnDate" class="form-label">Return Date (if applicable)</label>
                        <label id="returnDate">-</label>
                    </div>
                    
                    <!-- Notes -->
                    <div class="col-md-12">
                        <label for="notes" class="form-label">Additional Notes</label>
                        <label id="notes">-</label>
                    </div>                              
                </form>                
            </div>
            <div class="modal-footer">
                <div class="d-flex w-100">
                    <div>
                        <button type="button" class="btn btn-success" id="acceptButton">Accept</button>
                        <button type="button" class="btn btn-danger" id="rejectButton">Reject</button>
                    </div>
                    <div class="ms-auto">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<script>
    document.getElementById('acceptButton').addEventListener('click', function() {
        fetch('/hostel_application_action', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ action: 'Accepted', entry: selectedEntry['ID'] }),
        })
        .then(response => response.json())
        .then(data => console.log(data));
        location.reload();
    });

    document.getElementById('rejectButton').addEventListener('click', function() {
        fetch('/hostel_application_action', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ action: 'Rejected', entry: selectedEntry['ID'] }),
        })
        .then(response => response.json())
        .then(data => console.log(data));
        location.reload();
    });
</script>
-->
